<header>
<!-- Main container -->
    <div class="container" id="main-container">
        
        <!-- Top row: Logo, Search, Heart, Cart -->
        <div class="d-flex justify-content-between align-items-center py-3" id="top-row">
            
 
            <!-- Logo container -->
            <div id="logo-container">
                <a href="/" class="text-decoration-none">
                    <h1 class="fw-bold fs-3 text-dark mb-0">Freaky Fashion</h1>
                </a>
            </div>
</header>

