<!-- Product Grid Container -->
<div class="row g-3 g-sm-4" id="grid">
  <% products.forEach((product, index) => { %>
  <!-- Product Card Column -->
  >
  <div class="col-12 col-custom" id="item-<%= index %>">
    <%- include('product-card', { product: product, cardIdSuffix: index }) %>
  </div>
  <% }) %>
</div>

<style>
  /* ---Mobile: <640px, 1 column--- */
  #grid .col-custom {
    width: 100%;
  }

  /*---Tablet and up: ≥640px, 3 columns--- */
  @media (min-width: 640px) {
    #grid .col-custom {
      width: 33.333%;
      flex: 0 0 33.333%;
    }
  }
</style>
