<!-- Hero Section -->
<!--This includes the hero partial and passes the hero data to it.-->
<%- include('partials/hero', { hero: hero }) %>

<!-- Spots Section (Desktop only) -->
<%- include('partials/spots', { spots: spots }) %>

<!-- Popular Products Section -->
<section class="container my-5" id="popular-products-section">
  <h2 class="mb-4">Populära Produkter</h2>
  <%- include('partials/product-grid', { products: products }) %>
</section>

<!-- Site Features Section -->
<%- include('partials/site-features') %>
